body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  .form-container {
      background: white;
      padding: 10px;
      border-radius: 10px;
      box-shadow: 0 40px 10px rgba(11, 11, 11, 0.1);
      text-align: center;
      width: 300px;
    }
 .form-container h2 {
      text-align: center;
      margin-bottom: 20px;
    }

    .form-group {
      margin-bottom: 15px;
    }

    label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
      width: 90%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 6px;
    }

    button {
      width: 100%;
      padding: 10px;
      background: #4CAF50;
      color: white;
      border: none;
      border-radius: 6px;
      font-size: 16px;
      cursor: pointer;
    }

    button:hover {
      background: #45a049;
    }

    .form-footer {
      text-align: center;
      margin-top: 15px;
      font-size: 14px;
    }

    .form-footer a {
      color: #4CAF50;
      text-decoration: none;
    }

    .form-footer a:hover {
      text-decoration: underline;
    }